<strong>Bem-vindo, {{ student }}</strong>
<p>Obrigado por se matricular na nossa academia. Confira os detalhes da sua inscrição abaixo:</p>
<p>
  <strong>Plano: </strong>{{ plan }}
  <br>
  <strong>Data de término: </strong>{{ endDate }}
  <br>
  <strong>Valor: </strong>{{ price }}
</p>
